<a href="https://colab.research.google.com/github/daksh-intwala/HandGesture_Recognition_Modeling/blob/master/Data_Generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mediapipe
import mediapipe as mp
from google.colab import files
import cv2
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import numpy as np
import pandas as pd
import os

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mediapipe
  Downloading mediapipe-0.9.2.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (33.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.6/33.6 MB 17.2 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from mediapipe) (3.7.1)
Requirement already satisfied: opencv-contrib-python in /usr/local/lib/python3.9/dist-packages (from mediapipe) (4.7.0.72)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.9/dist-packages (from mediapipe) (22.2.0)
Requirement already satisfied: absl-py in /usr/local/lib/python3.9/dist-packages (from mediapipe) (1.4.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from mediapipe) (23.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from mediapipe) (1.22.4)
Requirement already satisfied: protobuf<4,>=3.11 in /usr/local/lib/python3.9/dist-packages (from mediapipe) (3.20.3)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (23.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (4.39.3)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (1.4.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (5.12.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->mediapipe) (0.11.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->mediapipe) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib->mediapipe) (1.16.0)
Installing collected packages: mediapipe
Successfully installed mediapipe-0.9.2.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# # Converting video clip to frames
# def getFrame(vid_path, sec):
#   vid = cv2.VideoCapture(vid_path)
#   vid.set(cv2.CAP_PROP_POS_MSEC, sec*1000)
#   ret, image = vid.read()

#   if ret:
#     cv2.imwrite(f'/content/frame_{sec}.jpg', image)

# def gen_frames(vid_path, vid_length, frames_per_sec=15):

#   n_iterations = vid_length * frames_per_sec
#   frame_rate = 1 / frames_per_sec
#   sec = 0

#   for i in range(int(n_iterations)):
#     sec = round(sec, 2)
#     success = getFrame(vid_path, sec)
#     sec += frame_rate

In [ ]:
# image_files = []
# directory_path = '/content/'
# directory_files = os.listdir(directory_path)

# for i in directory_files:
#   image_files.append(f'{i}')

# image_files.remove('.config')
# image_files.remove('drive')
# # image_files.remove('frame_0.jpg')
# # image_files.remove('sample_data')

# image_files = sorted(image_files)

In [ ]:
def landmark_extractor(img):

  mp_hands = mp.solutions.hands

  with mp_hands.Hands(static_image_mode=True,
                      max_num_hands=2,
                      min_detection_confidence=0.5) as hands:
      
        landmark = []

        image = cv2.flip(cv2.imread(img), 1)

        results = hands.process(cv2.cvtColor(image, cv2.COLOR_BGR2RGB))

        landmarks = results.multi_hand_landmarks
        
        if landmarks != None:
          landmark_idx = mp_hands.HandLandmark.WRIST.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y,
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.THUMB_CMC.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.THUMB_MCP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()       

          landmark_idx = mp_hands.HandLandmark.THUMB_IP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()   

          landmark_idx = mp_hands.HandLandmark.THUMB_TIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.INDEX_FINGER_MCP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.INDEX_FINGER_PIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.INDEX_FINGER_DIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()       

          landmark_idx = mp_hands.HandLandmark.INDEX_FINGER_TIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()   

          landmark_idx = mp_hands.HandLandmark.MIDDLE_FINGER_MCP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.MIDDLE_FINGER_PIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.MIDDLE_FINGER_DIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.MIDDLE_FINGER_TIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()       

          landmark_idx = mp_hands.HandLandmark.RING_FINGER_MCP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()   

          landmark_idx = mp_hands.HandLandmark.RING_FINGER_PIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.RING_FINGER_DIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.RING_FINGER_TIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.PINKY_MCP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()       

          landmark_idx = mp_hands.HandLandmark.PINKY_PIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()   

          landmark_idx = mp_hands.HandLandmark.PINKY_DIP.value 
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()

          landmark_idx = mp_hands.HandLandmark.PINKY_TIP.value
          landmark += (np.array([[lmk.landmark[landmark_idx].x, 
                        lmk.landmark[landmark_idx].y, 
                        lmk.landmark[landmark_idx].z] for lmk in landmarks]).flatten() if landmarks else np.zeros(3)).tolist()
          
        if len(landmark) == 126:
            row = np.around(landmark, decimals=5).reshape(1, -1)
        else:
            row = np.hstack((np.array(landmark), np.zeros(126-len(landmark)))).reshape(1, -1)

        return row

In [72]:
# Converting video clip to frames

def getFrame(vid_path, sec):
  vid = cv2.VideoCapture(vid_path)
  vid.set(cv2.CAP_PROP_POS_MSEC, sec*1000)
  ret, image = vid.read()
  path = vid_path[:-4]+f'{sec}.jpg'
  
  if ret:
    cv2.imwrite(path, image)

    return path


def gen_frames(vid_path, vid_length=2, frames_per_sec=15):

  n_iterations = vid_length * frames_per_sec
  frame_rate = 1 / frames_per_sec
  sec = 0

  dataset = np.empty((126)).reshape(1, -1)

  for i in range(int(n_iterations)):
    sec += frame_rate
    sec = round(sec, 3)
    image = getFrame(vid_path, sec)
    if image:
      data_point = landmark_extractor(image)
      dataset = np.append(dataset, data_point, axis=0)
      
  return dataset

### Label=1

In [ ]:
video_files = ['/content/drive/MyDrive/Capstone/Datasets/1/00335.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/1/00336.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/1/00338.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/1/00339.mp4']

action_1 = np.empty((126)).reshape(1, -1)

for video in video_files:
  int_data = gen_frames(video)
  action_1 = np.append(action_1, int_data, axis=0)

In [ ]:
action_1.shape

(125, 126)

In [ ]:
df_1 = pd.DataFrame(action_1)
df_1['label'] = 1
df_1.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.559243,0.826408,-3.196620e-08,0.541024,0.786787,-0.004427,0.512371,0.768996,-0.006623,0.490502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.589908,0.843094,2.033752e-07,0.574580,0.807716,-0.008296,0.549728,0.786862,-0.012663,0.529482,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [ ]:
df_1.to_csv(f'/content/drive/MyDrive/Capstone/Datasets/1/data.csv', index=False)

### Label=2

In [ ]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/2/'

video_files = ['/content/drive/MyDrive/Capstone/Datasets/2/00376.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/2/00377.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/2/00381.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/2/00382.mp4']

action_2 = np.empty((126)).reshape(1, -1)

for video in video_files:
  int_data = gen_frames(folder_path, video)
  action_2 = np.append(action_2, int_data, axis=0)

In [ ]:
action_2.shape

(125, 126)

In [ ]:
df_2 = pd.DataFrame(action_2)
df_2['label'] = 2
df_2.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.3451,0.83893,-0.0,0.68423,0.84153,0.0,0.37431,0.85629,-0.00252,0.64808,...,0.69283,0.93758,-0.00312,0.32659,0.92407,-0.0076,0.69564,0.92628,0.00096,2
1,0.0000,0.00000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00000,2
2,0.0000,0.00000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00000,2
3,0.0000,0.00000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00000,2
4,0.0000,0.00000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00000,2

In [ ]:
df_2.to_csv(folder_path + f'data.csv', index=False)

### Label=3

In [ ]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/3/'

video_files = ['/content/drive/MyDrive/Capstone/Datasets/3/00414.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/3/00415.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/3/00416.mp4',
               '/content/drive/MyDrive/Capstone/Datasets/3/00421.mp4']

action_3 = np.empty((126)).reshape(1, -1)

for video in video_files:
  int_data = gen_frames(folder_path, video)
  action_3 = np.append(action_3, int_data, axis=0)

In [ ]:
action_3.shape

(125, 126)

In [ ]:
df_3 = pd.DataFrame(action_3)
df_3['label'] = 3
df_3.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3
1,6.919576e-310,6.919576e-310,2.751397e-316,2.751397e-316,2.075076e-322,5.565508e-188,3.667480e-270,3.220856e-144,4.326491e-294,1.658521e-149,...,6.919431e-310,3.717740e+173,6.919431e-310,6.320369e-316,6.479513e+292,6.919551e-310,6.919573e-310,6.508123e-183,6.919431e-310,3
2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3
3,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3
4,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3

In [ ]:
df_3.to_csv(folder_path + f'/data.csv', index=False)

### Label=4

In [65]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/4/'

vid_nos = ['00430', '00431', '00433', '00435']

action_4 = np.empty((126)).reshape(1, -1)

for video in vid_nos:
  vid_path = folder_path + video + '.mp4'
  int_data = gen_frames(vid_path)
  action_4 = np.append(action_4, int_data, axis=0)

In [66]:
action_4.shape

(120, 126)

In [ ]:
df_4 = pd.DataFrame(action_3)
df_4['label'] = 4
df_4.head()

In [ ]:
df_4.to_csv(folder_path + f'data.csv', index=False)

### Label=5

In [67]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/5/'

vid_nos = ['00583', '00584', '00585', '00586']

action_5 = np.empty((126)).reshape(1, -1)

for video in vid_nos:
  vid_path = folder_path + video + '.mp4'
  int_data = gen_frames(vid_path)
  action_5 = np.append(action_5, int_data, axis=0)

In [68]:
action_5.shape

(80, 126)

In [69]:
df_5 = pd.DataFrame(action_5)
df_5['label'] = 5
df_5.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.64012,0.6776,-0.0,0.39506,0.68356,0.0,0.62501,0.65372,-0.00226,0.41012,...,0.45044,0.69137,-0.04283,0.59753,0.72623,-0.03219,0.46067,0.69586,-0.04320,5
1,0.63428,0.5445,-0.0,0.40222,0.63002,0.0,0.62464,0.51353,-0.00042,0.41777,...,0.46057,0.60616,-0.02500,0.58282,0.56222,-0.02234,0.47060,0.60884,-0.02485,5
2,0.00000,0.0000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,5
3,0.00000,0.0000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,5
4,0.00000,0.0000,0.0,0.00000,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,5

In [73]:
df_5.to_csv(f'/content/drive/MyDrive/Capstone/Datasets/5/data.csv', index=False)

### Label=6

In [74]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/6/'

vid_nos = ['00592', '00593', '00594', '00597']

action_6 = np.empty((126)).reshape(1, -1)

for video in vid_nos:
  vid_path = folder_path + video + '.mp4'
  int_data = gen_frames(vid_path)
  action_6 = np.append(action_6, int_data, axis=0)

In [75]:
action_6.shape

(99, 126)

In [77]:
df_6 = pd.DataFrame(action_6)
df_6['label'] = 6
df_6.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.0,4.940656e-324,9.881313e-324,1.482197e-323,1.976263e-323,2.470328e-323,2.964394e-323,3.458460e-323,3.952525e-323,4.446591e-323,...,5.780568e-322,5.829975e-322,5.879381e-322,5.928788e-322,5.978194e-322,6.027601e-322,6.077007e-322,6.126414e-322,6.175821e-322,6
1,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6
2,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6
3,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6
4,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6

In [84]:
df_6.to_csv(f'/content/drive/MyDrive/Capstone/Datasets/6/data.csv', index=False)

### Label=7

In [78]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/7/'

vid_nos = ['00623', '00625', '00627', '00628']

action_7 = np.empty((126)).reshape(1, -1)

for video in vid_nos:
  vid_path = folder_path + video + '.mp4'
  int_data = gen_frames(vid_path)
  action_7 = np.append(action_7, int_data, axis=0)

In [79]:
action_7.shape

(87, 126)

In [82]:
df_7 = pd.DataFrame(action_7)
df_7['label'] = 7
df_7.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.0,4.940656e-324,9.881313e-324,1.482197e-323,1.976263e-323,2.470328e-323,2.964394e-323,3.458460e-323,3.952525e-323,4.446591e-323,...,5.780568e-322,5.829975e-322,5.879381e-322,5.928788e-322,5.978194e-322,6.027601e-322,6.077007e-322,6.126414e-322,6.175821e-322,7
1,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7
2,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7
3,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7
4,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7

In [85]:
df_7.to_csv(f'/content/drive/MyDrive/Capstone/Datasets/7/data.csv', index=False)

### Label=8

In [86]:
folder_path = '/content/drive/MyDrive/Capstone/Datasets/8/'

vid_nos = ['00626', '00629', '00631', '00634']

action_8 = np.empty((126)).reshape(1, -1)

for video in vid_nos:
  vid_path = folder_path + video + '.mp4'
  int_data = gen_frames(vid_path)
  action_8 = np.append(action_8, int_data, axis=0)

In [87]:
action_8.shape

(111, 126)

In [88]:
df_8 = pd.DataFrame(action_8)
df_8['label'] = 8
df_8.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.00000,4.940656e-324,9.881313e-324,1.482197e-323,1.976263e-323,2.470328e-323,2.964394e-323,3.458460e-323,3.952525e-323,4.446591e-323,...,5.780568e-322,5.829975e-322,5.879381e-322,5.928788e-322,5.978194e-322,6.027601e-322,6.077007e-322,6.126414e-322,6.175821e-322,8
1,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8
2,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8
3,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8
4,0.60411,8.592500e-01,-0.000000e+00,3.485400e-01,9.030100e-01,0.000000e+00,6.007300e-01,8.092200e-01,-1.026000e-02,3.643500e-01,...,4.199400e-01,9.579300e-01,-8.480000e-03,6.242400e-01,8.646800e-01,-2.211000e-02,4.109200e-01,9.548600e-01,-4.920000e-03,8

In [89]:
df_8.to_csv(f'/content/drive/MyDrive/Capstone/Datasets/8/data.csv', index=False)

In [90]:
df_7.head()

,0,1,2,3,4,5,6,7,8,9,...,117,118,119,120,121,122,123,124,125,label
0,0.0,4.940656e-324,9.881313e-324,1.482197e-323,1.976263e-323,2.470328e-323,2.964394e-323,3.458460e-323,3.952525e-323,4.446591e-323,...,5.780568e-322,5.829975e-322,5.879381e-322,5.928788e-322,5.978194e-322,6.027601e-322,6.077007e-322,6.126414e-322,6.175821e-322,7
1,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7
2,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7
3,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7
4,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7